.ui-test-container {

    max-width: 768px;
    padding: 40px;

    > section{
        margin: 0 0 100px!important;
    }
    section{
        h2{
            text-decoration: underline;
            margin-bottom: 30px;
        }
        margin: 100px 0;
    }

}

.modals-wrapper {
    position: absolute;
    top: 100px;
    width: 100%;
    height: 100%;
    display: none;

    .modal-popup {
        height: 500px !important;
    }
}


